<!-- we need to hide yt iframe -->
<div id="yt-hidden-player" class="hidden"></div>

<div class="w-full h-full px-6 py-8">
  <div
    class="w-full h-full flex flex-col items-center justify-center bg-base-200/90 rounded-4xl px-8 py-10 shadow-2xl"
  >

    <!-- album cover -->
    <div
      class="relative w-40 h-40 md:w-48 md:h-48 rounded-[28px] overflow-hidden bg-base-300 flex items-center justify-center mb-6"
    >
      <ng-container *ngIf="(currentTrack$ | async) as track; else noTrackArtwork">
        <img
          *ngIf="track.thumbnailUrl"
          [src]="track.thumbnailUrl"
          alt="Cover"
          class="w-full h-full object-cover"
        />
        <div *ngIf="!track.thumbnailUrl" class="text-4xl">
          🎵
        </div>
      </ng-container>

      <ng-template #noTrackArtwork>
        <span class="text-4xl">🎵</span>
      </ng-template>
    </div>

    <!-- title, artist -->
    <div class="flex-1 w-full max-w-3xl flex flex-col items-center gap-6">
      <ng-container *ngIf="(currentTrack$ | async) as track; else noTrack">
        <div
          class="text-2xl md:text-3xl font-semibold text-center truncate w-full"
          [innerHTML]="track.title"
        ></div>
        <div
          class="text-lg opacity-70 text-center truncate w-full"
          [innerHTML]="track.artist || 'Artiste inconnu'"
        ></div>
      </ng-container>

      <ng-template #noTrack>
        <div class="text-2xl opacity-70 text-center w-full">
          No track playing
        </div>
      </ng-template>

      <!-- progress bar -->
      <ng-container *ngIf="(currentTime$ | async) as currentTime">
        <ng-container *ngIf="(duration$ | async) as duration">
          <div class="mt-2 w-full max-w-2xl">
            <input
              type="range"
              min="0"
              max="100"
              [value]="duration ? (currentTime / duration) * 100 : 0"
              class="range range-sm w-full"
              disabled
            />
            <div class="flex justify-between text-xs opacity-70 mt-2">
              <span>{{ formatTime(currentTime) }}</span>
              <span>{{ formatTime(duration) }}</span>
            </div>
          </div>
        </ng-container>
      </ng-container>

      <!-- buttons to be deleted in future -->
      <div class="mt-4 flex items-center justify-center gap-6">
        <button
          class="btn border-none bg-primary text-primary-content rounded-full w-24 h-24 shadow-xl flex items-center justify-center"
          (click)="togglePlay()"
        >
          <span class="text-3xl" *ngIf="(isPlaying$ | async); else playIcon">
            ⏸
          </span>
          <ng-template #playIcon>
            <span class="text-3xl">▶️</span>
          </ng-template>
        </button>
      </div>
    </div>
  </div>
</div>